@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
body {
  position: relative;
  background-color: #f2f2f2;
  color: #0d0d0d;
  direction: rtl;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "pattaya";
  color: #0d0d0d;
  transition: 1s;
  text-align: center;
}

h1:hover {
  color: #9453a6;
  font-size: 8vh;
}

h2,
h4,
h5 {
  font-family: "henny-penny";
}

h4:hover {
  color: #8cbf3f;
}

h2 {
  padding: 1vw;
}

p {
  text-align: justify;
  padding: 3vw;
}

header {
  direction: ltr;
}

.navbar {
  background-color: #9453a6;
  position: relative;
  height: 40vh;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .halufi {
    display: none;
  }
}
.thetoggler {
  background-color: #8cbf3f;
}

@media screen and (min-width: 768px) {
  .thetoggler {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .halufi {
    height: 10vh;
    width: 23vw;
    overflow: auto;
    background-color: #8cbf3f;
    border-radius: 30%;
    border: solid #0d0d0d;
    font-weight: 600;
    margin-block: 1vh;
  }
}
@media screen and (max-width: 768px) {
  .collapse {
    position: absolute;
    top: 7vh;
    width: 35vw;
    margin-right: -75vw;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}
.container-fluid {
  background-color: #f2cc0f;
  position: absolute;
  top: 0vh;
}

.holonlogo {
  position: absolute;
  top: 8vh;
  right: 2vw;
}

@media screen and (max-width: 768px) {
  .holonlogo {
    position: absolute;
    top: 3vh;
    height: 20vh;
    width: 40vw;
  }
}
.p-5 {
  background-color: #f2f2f2;
}

.contactinf {
  height: 50vh;
  width: 20vw;
  position: absolute;
  background-color: #f2cc0f;
  border: solid #0d0d0d;
}
.contactinf .dagesh {
  padding: 1vh;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .contactinf {
    width: 70vw;
    height: 50vh;
    margin-inline: 15vw;
    margin-bottom: 20vh;
  }
}
form {
  height: 100vh;
  width: 50vw;
  margin-inline: 25vw;
  background-color: #8cbf3f;
  border: solid #0d0d0d;
  text-align: center;
}
form label {
  margin-top: 2vh;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  form {
    margin-top: 120vh;
    width: 70vw;
    margin-inline: 15vw;
    height: 90vh;
  }
}
input {
  background-color: #f2f2f2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .labfirst {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .inpfirst {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .inpfirstm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .labsur {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .inpsur {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .inpsurm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .labmail {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .inpmail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .inpmailm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .labmes {
    display: none;
  }
}
textarea {
  text-align: center;
  margin-bottom: -8vh;
  background-color: #f2f2f2;
  height: 40%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .inpmes {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .inpmesm {
    display: none;
  }
}
iframe {
  height: 50vh;
  width: 20vw;
  position: absolute;
  top: 58.4vh;
  right: 1vw;
  border: solid #0d0d0d;
}

@media screen and (max-width: 768px) {
  iframe {
    height: 40vh;
    width: 70vw;
    margin-top: 60vh;
    margin-inline: 15vw;
  }
}
button {
  color: #0d0d0d;
  background-color: #f2cc0f;
  border-radius: 15%;
  height: 6vh;
  font-weight: 600;
}

.btn {
  color: #0d0d0d;
  background-color: #f2cc0f;
  transition: 1s;
  border: solid #0d0d0d;
  width: 100%;
}

.btn:hover {
  background-color: #9453a6;
  border: solid #0d0d0d;
}

.btn:active {
  background-color: #f2f2f2;
}

.footer {
  background-color: #9453a6;
  height: 30vh;
  position: relative;
}
.footer p {
  position: absolute;
  left: 0vw;
  top: 12vh;
  color: #0d0d0d;
}/*# sourceMappingURL=contact.css.map */