$blackcolor: #0d0d0d;
$whitecolor: #f2f2f2;
$yellowcolor: #f2cc0f;
$greencolor: #8cbf3f;
$purplecolor: #9453a6;
$cardheight: 15vh;
$cardimgheight: 20vh;

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");

body {
  background-color: $whitecolor;
  color: $blackcolor;
  direction: rtl;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  font-family: "pattaya";
  color: $blackcolor;
  transition: 1s;
}
h1:hover {
  color: $purplecolor;
  font-size: 8vh;
}

h2,
h4,
h5 {
  font-family: "henny-penny";
}
h4:hover {
  color: $greencolor;
}
h2 {
  padding: 1vw;
}
p {
  text-align: justify;
  padding: 3vw;
}

header {
  direction: ltr;
}

.navbar {
  background-color: $purplecolor;
  position: relative;
  height: 40vh;
  font-weight: 600;
}

@media screen and (min-width:768px) {
  .halufi {
    display: none;
  }
}

.thetoggler {
  background-color: $greencolor;
}

@media screen and (min-width: 768px) {
  .thetoggler {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .halufi {
    height: 10vh;
    width: 23vw;
    overflow: auto;
    background-color: $yellowcolor;
    border-radius: 30%;
    border: solid $blackcolor;
    font-weight: 600;
    margin-block:1vh;
  }
}


@media screen and (max-width:768px) {

.collapse {
  position: absolute;
  top: 7vh;
  width: 35vw;
     margin-right: -75vw;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
}


.container-fluid {
  background-color: $yellowcolor;
  position: absolute;
  top: 0vh;
}

.holonlogo {
  position: absolute;
  top: 8vh;
  right: 2vw;
}

@media screen and (max-width:768px) {
  .holonlogo {
    position: absolute;
    top: 3vh;
    height: 20vh;
    width: 40vw;
  }
}

.p-5 {
  background-color: $whitecolor;
}

.accordion-item {
  background-color: $whitecolor;
  direction: rtl;
}
.accordion-header {
  background-color: $whitecolor;
}
.accordion-button {
  background-color: $greencolor;
  text-align: center;
  direction: rtl;
}

.accordion-button:active {
  background-color: $yellowcolor;
}
.accordion-button:focus {
  background-color: $yellowcolor;
}

.btn {
  color: $blackcolor;
  background-color: $yellowcolor;
  transition: 1s;
  border: solid $blackcolor;
  width: 100%;
}
.btn:hover {
  background-color: $purplecolor;
  border: solid $blackcolor;
}
.btn:active {
  background-color: $whitecolor;
}

.footer {
  background-color: $purplecolor;
  height: 30vh;
  position: relative;

  & p {
    position: absolute;
    left: 0vw;
    top: 12vh;
    color: $blackcolor;
  }
}
