@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
body {
  background-color: #f2f2f2;
  color: #0d0d0d;
  direction: rtl;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "pattaya";
  direction: rtl;
  padding: 3vh;
  color: #0d0d0d;
  transition: 1s;
  text-align: center;
}

h1:hover {
  color: #9453a6;
  font-size: 8vh;
}

h2,
h4,
h5 {
  font-family: "henny-penny";
  direction: rtl;
  padding: 3vh;
  color: #0d0d0d;
}

h4:hover {
  color: #8cbf3f;
}

h2 {
  padding: 1vw;
}

p {
  text-align: justify;
  padding: 3vw;
}

header {
  direction: ltr;
}

.navbar {
  background-color: #9453a6;
  position: relative;
  height: 40vh;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .halufi {
    display: none;
  }
}
.thetoggler {
  background-color: #8cbf3f;
}

@media screen and (min-width: 768px) {
  .thetoggler {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .halufi {
    height: 10vh;
    width: 23vw;
    overflow: auto;
    background-color: #f2cc0f;
    border-radius: 30%;
    border: solid #0d0d0d;
    font-weight: 600;
    margin-block: 1vh;
    -webkit-margin-start: -5vw;
            margin-inline-start: -5vw;
  }
}
@media screen and (max-width: 768px) {
  .collapse {
    position: absolute;
    top: 7vh;
    width: 35vw;
    margin-right: -75vw;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
  }
}
.container-fluid {
  background-color: #f2cc0f;
  position: absolute;
  top: 0vh;
}

.holonlogo {
  position: absolute;
  top: 8vh;
  right: 2vw;
  height: 35.1vh;
  width: 15.6vw;
}

@media screen and (max-width: 768px) {
  .holonlogo {
    position: absolute;
    top: 3vh;
    height: 20vh;
    width: 40vw;
  }
}
.p-5 {
  background-color: #f2f2f2;
}

.imgsec {
  background-color: #8cbf3f;
  height: 130vh;
  margin-bottom: -7vh;
}

.containergrid {
  -webkit-margin-start: 5vw;
          margin-inline-start: 5vw;
  height: 100vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4vh;
  grid-row-gap: 2vh;
  margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
  .containergrid {
    -webkit-margin-start: 1vw;
            margin-inline-start: 1vw;
    grid-column-gap: 3vw;
    grid-row-gap: 0vh;
  }
}
.galim {
  height: 25vh;
  width: 16vw;
}

.galim:hover {
  border: solid #9453a6 0.8vh;
}

@media screen and (max-width: 768px) {
  .galim {
    height: 15vh;
    width: 17vw;
  }
}
hr {
  color: #0d0d0d;
}

.videosec {
  background-color: #f2cc0f;
  margin-bottom: -10vh;
}

.containervideo {
  -webkit-margin-start: 10vw;
          margin-inline-start: 10vw;
  height: 100vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 5vh;
  margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
  .containervideo {
    -webkit-margin-start: 2vw;
            margin-inline-start: 2vw;
    grid-column-gap: 1vw;
    grid-row-gap: 0vh;
  }
}
iframe {
  height: 25vh;
  width: 16vw;
  transition: 0.2s;
}

iframe:hover {
  border: solid #9453a6 0.8vh;
}

@media screen and (max-width: 768px) {
  iframe {
    height: 15vh;
    width: 23vw;
  }
}
.btn {
  color: #0d0d0d;
  background-color: #f2cc0f;
  transition: 1s;
  border: solid #0d0d0d;
  width: 100%;
}

.btn:hover {
  background-color: #9453a6;
  border: solid #0d0d0d;
}

.btn:active {
  background-color: #f2f2f2;
}

.footer {
  background-color: #9453a6;
  height: 30vh;
  position: relative;
}
.footer p {
  position: absolute;
  left: 0vw;
  top: 12vh;
  color: #0d0d0d;
}/*# sourceMappingURL=media.css.map */